---
---

@import "{{ site.theme }}";

// .wrapper {
//   display: flex;
// }

/* 왼쪽 사이드바 */
.wrapper > .sidebar {
  flex: 0 0 200px;  /* 사이드바 폭 (기본 200px 정도) */
}

/* 오른쪽 본문 영역 */
.wrapper > .main {
  flex: 1;          /* 남은 공간 전부 차지 */
  max-width: 1800px; /* 필요하면 최대 폭 제한 */
}

footer {
  display: none;
}

header li {
	width: 270px;
	height: auto;
}

// @import "{{ site.theme }}";
a:hover, a:focus {
  font-weight:unset;
}
